body {
    text-align: center;
    margin : 0 0 0 0;
}

h1{
    margin: 50px 0 0 0;
    font-size: 400%; 
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
}

h3{
    color: #11999E;
}

a{
    color : #11999E;
}

p{
    color: #40514E;
}

.top-container{
    position: relative;
    padding-top: 100px;
    font-family: 'Aboreto', cursive;
}

.middle-container{
    font-family: 'Merriweather', serif;
    background-color: whitesmoke;
}

.bottom-container{
    position: relative;
    padding: 20px 0  10px 0 ;
    background-color:#66BFBF;
    font-family: 'Rubik', sans-serif;
}

.top-cloud{
    position: absolute;
    top : 20%;
    right : 10%;
}

.bottom-cloud{
    position: absolute;
    bottom: 40%;
    left: 20%;
}

.img-mid{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-top: 5%;
}

.img-web{
    width: 25%;
    border-radius: 50%;
    border-style: dashed;
    float: left;
    margin-right: 30px;
}

.img-brain{
    width: 25%;
    border-radius: 50%;
    border-style: dashed;
    float: right;
    margin-left: 30px;
}

.contact-me{
    margin: 0 0 0 0 ;
    padding-top: 16px;
    color: white;
}

.footer-link{
    display: inline-block;
    color: #11999E;
    padding: 0 10px 0 10px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.skill-row{
    display: block;
    text-align: left;
    width : 50%;
    margin : 50px auto 100px auto;
    line-height: 2;
}

.p-skill{
    color: #40514E;
}

.p-contact{
    color: #40514E;
}

.p-copyright{
    color: #EAF6F6;
}

.hr-content{
    border-style: dotted none none none;
    border-top-width: 7px;
    width: 5%;
    margin: 100px auto 100px auto;
    color: #d3d3d3;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px auto 50px auto;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }