body{
    background-color: black;
    color: white;
}

.quote{
    width: 50%;
    margin: 0 25%;
    text-align: center;

    font-family: 'Libre Baskerville', serif;
    font-size: 100%;
}
.quote-pic{
    width: 100%;
    border: 5px solid white;
}
.quote-title{
    text-transform: uppercase;
}
